**/output/
**/debug/
**log.txt
./pretrain/log.txt
#**/experiment/
**/main_experiment_5x/
**/main_experiment_170x/
**/ablation_experiment/
**/analysis_experiment/

**/experiment_5x_8gpu/
**/experiment_15x_8gpu/
**/experiment_51x_8gpu/